*.class
.gradle
*.sw?
.#*
*#
*~
/build
/code
.classpath
.project
.settings
.metadata
.factorypath
.recommenders
bin
build
lib/
target
.factorypath
interpolated*.xml
dependency-reduced-pom.xml
build.log
_site/
settings.xml
overridedb.*
*.iml
*.ipr
*.iws
.idea
*.jar
.DS_Store
.factorypath
dump.rdb
transaction-logs